:root{
	--white: rgba(255,255,255, 0.7);
	--black: rgba(0,0,0,1);
}

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: var(--black);
}

body{
	background-image: url(https://fondosmil.com/fondo/1719.png);
	background-repeat: no-repeat;
	background-size: cover;

}
h1{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 12em;
	text-align: center;
	color: rgba(255,255,255, 0.9);
}
.grid-conteiner{
	display: grid;
}

header{
	justify-items: center;
	margin: 100px 20px;
	padding: 10px;
}
.grid-article{
	background-color: var(--white);
	margin: 80px 40px;
}

article p{
	padding: 20px;
	text-align: center;
	font-weight: 590;
	line-height: 2;
	font-size: 0.8em;
	font-family: 'Arvo', serif;
	color: var(--black);
}

footer{
	grid-template-columns: repeat(6, 1fr);
	margin: 70px 0;
}

.button {
	font-family: 'Arvo', serif;
	font-weight: 900;
	padding: 30px 10px;
	grid-column: 2/6;
	background: rgba(255,255,255, 0.5);
	border: none;
	color: var(--black);
	text-align: center;
}

.button:hover{
	background-color: rgba(0,0,0,0.6);
	color: var(--white);
	font-weight: 100;
}